name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-version: "8.10.2"
      - name: Build
        run: gradle clean build -x test
      - uses: actions/upload-artifact@v4
        with:
          name: LuckySky-jar
          path: build/libs/*.jar
