name: Build LuckySky-Opalium

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: 8.10.2

      - name: Build
        run: gradle clean build --warning-mode all

      - name: Upload plugin jar
        uses: actions/upload-artifact@v4
        with:
          name: luckysky-opalium
          path: build/libs/*.jar
